<%= _.template(require('./../includes/header-main.html'))() %>
    <div id="page-preloader" class="preloader">
        <div class="loader"></div>
    </div>
    <header class="header header_main bg03"> <!-- bg01-bg05-->
        <div class="container container_header">
            <div class="header__row">
                <div class="d-flex justify-content-center justify-content-xl-start align-items-center">
                    <div class="logo logo_main flex-grow-1 flex-md-grow-0 mr-auto mr-md-0">
                        <div class="logo__img"></div>
                        <div class="logo__text">His Wife</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-bg1 content-bg1_firstscreen">
            <div class="header-firstscreen-wrap">
                <div class="container container_index">
                    <div class="header-firstscreen d-flex flex-column flex-lg-row justify-content-center">
                        <div class="header-firstscreen-img flex-grow-1 d-none d-lg-block">
                            <div class="header-firstscreen-photo"></div>
                        </div>
                        <div class="header-firstscreen-inf flex-grow-0">
                            <div class="header-firstscreen-content login">
                                <div class="header__titlebox">
                                    <div class="header__title">The best advisor in the dating world</div>
                                    <a class="btn btn_w100 d-lg-none" href="#">Unlock My Matches</a>
                                </div>
                                <a class="btn btn_index d-none d-lg-block" href="#">Unlock My Matches</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="content-bg2">
            <div class="container container_index">
                <div class="title-slogan">
                    <div class="title-slogan__xs d-lg-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="190" height="71" viewBox="0 0 190 71" class="img-fluid">
                            <text transform="translate(95 29)" fill="none" stroke="#191919" stroke-width="1" font-size="28" font-family="Baigo-Regular, Baigo" letter-spacing="0.16em">
                                <tspan x="-93.352" y="0">MEET YOUR</tspan>
                                <tspan x="-55.888" y="35">DREAM</tspan>
                            </text>
                        </svg>
                    </div>
                    <div class="title-slogan__lg d-none d-lg-block">
                        <svg xmlns="http://www.w3.org/2000/svg" width="661" height="216" viewBox="0 0 661 216" class="img-fluid">
                            <text transform="translate(659 94)" fill="none" stroke="#191919" stroke-width="2" font-size="92" font-family="Baigo-Regular, Baigo" letter-spacing="0.219em">
                                <tspan x="-656.88" y="0">MEET YOUR</tspan>
                                <tspan x="-388.976" y="102">DREAM</tspan>
                            </text>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="secondscreen">
            <div class="container d-lg-none">
                <h2 class="h2_index">Meet your dream</h2>
            </div>
            <div class="collage d-md-flex justify-content-center">
                <img class="collage__img_xs" src="img/index-collage-sm.jpg" alt="">
                <img class="collage__img_lg" src="img/index-collage-lg.png" alt="">
                <img class="collage__img_lg2" src="img/index-collage-lg2.png" alt="">
            </div>
        </div>
        <div class="index-content">
            <div class="container">
                <h1>Release mine <br>combinations</h1>
                <p>We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form, connects people who have interests in similar activities, passions and future aspirations. We also add our own personal touch to the online dating process ensuring that your experience is special and exclusive to you.</p>
                <p>Instead of spending weeks looking for your best combination, we send you a personalized combination every day by email. As these presentations have been carefully selected based on your NF (Life, Freedom and Culture) score, you can spend more time talking or planning your first night out.</p>
                <p>We believe in unconditional sincerity and transparency. That's why our users' profiles reflect this in every possible way. With a simple and friendly layout, our profiles clearly show all the details you need to make an informed decision.</p>
                <p>We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form, connects people who have interests in similar activities, passions and future aspirations. We also add our own personal touch to the online dating process ensuring that your experience is special and exclusive to you.</p>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>