<%= _.template(require('./../includes/header-user_profile.html'))() %>
<main class="main">
    <div class="main__slider-bg">
        <div class="user-profile-slider owl-carousel">
            <div class="slide" style="background-image: url('img/photos/ph01.jpg');"></div>
            <div class="slide" style="background-image: url('img/photos/user-01.jpg');"></div>
            <div class="slide" style="background-image: url('img/photos/user-02.jpg');"></div>
            <div class="slide" style="background-image: url('img/photos/user-03.jpg');"></div>
            <div class="slide" style="background-image: url('img/photos/user-04.jpg');"></div>
            <div class="slide" style="background-image: url('img/photos/user-02.jpg');"></div>
            <div class="slide" style="background-image: url('img/photos/ava.jpg');"></div>
        </div>
        <a href="#goto" class="user-profile-btn btn btn_2 btn_w100">Claim Her</a>
    </div>
    <div class="content-bg1 content-bg1_profile">
        <div class="container">
            <div class="content1">
                <div class="user-profile-content">
                    <div class="user-profile-images flex-grow-1 d-none d-lg-block">
                        <div class="user-profile-photo" style="background-image: url('img/photos/ph01.jpg')"></div>
                    </div>
                    <div class="user-profile-info flex-grow-0">
                        <div class="user-profile-row d-lg-flex justify-content-between">
                            <div>
                                <div class="user-profile-name">Jasmine, 28</div>
                                <div class="user-profile-loc">California (3000 km)</div>
                            </div>
                            <div>
                                <a href="#goto" class="user-profile-btn btn btn_2 d-none d-lg-block">Claim Her</a>
                            </div>
                        </div>
                        <div class="user-profile-title">Compatibility score: 15 000</div>
                        <div class="compatibility compatibility_mb d-flex justify-content-between justify-content-sm-center justify-content-lg-between">
                            <div class="compatibility__chart">
                                <div class="compatibility__progress">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="90" height="90" viewBox="0 0 90 90">
                                        <circle cx="9" cy="9" r="9" transform="translate(36)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(62 10)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(72 36)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(62 62)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(36 72)" fill="#3b3b3b"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(10 62)" fill="#3b3b3b"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(0 36)" fill="#3b3b3b"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(10 10)" fill="#3b3b3b"/>
                                    </svg>
                                </div>
                                <div class="compatibility__title">Interests</div>
                            </div>
                            <div class="compatibility__chart">
                                <div class="compatibility__progress">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="90" height="90" viewBox="0 0 90 90">
                                        <circle cx="9" cy="9" r="9" transform="translate(36)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(62 10)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(72 36)" fill="#3b3b3b"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(62 62)" fill="#3b3b3b"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(36 72)" fill="#3b3b3b"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(10 62)" fill="#3b3b3b"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(0 36)" fill="#3b3b3b"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(10 10)" fill="#3b3b3b"/>
                                    </svg>
                                </div>
                                <div class="compatibility__title">Location</div>
                            </div>
                            <div class="compatibility__chart">
                                <div class="compatibility__progress">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid w-100" width="90" height="90" viewBox="0 0 90 90">
                                        <circle cx="9" cy="9" r="9" transform="translate(36)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(62 10)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(72 36)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(62 62)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(36 72)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(10 62)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(0 36)" fill="#f2cfcf"/>
                                        <circle cx="9" cy="9" r="9" transform="translate(10 10)" fill="#3b3b3b"/>
                                    </svg>
                                </div>
                                <div class="compatibility__title">Matches</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-bg2">
        <div class="container">
            <div class="content1">
                <div class="user-profile-content">
                    <div class="user-profile-images flex-grow-1 d-none d-lg-block"></div>
                    <div class="user-profile-info flex-grow-0">
                        <div class="user-profile-gallery d-none d-lg-flex justify-content-between">
                            <div class="user-profile-gallery__item" style="background-image: url('img/photos/ph01.jpg')"></div>
                            <div class="user-profile-gallery__item" style="background-image: url('img/photos/user-02.jpg')"></div>
                            <div class="user-profile-gallery__item" style="background-image: url('img/photos/user-01.jpg')"></div>
                            <div class="user-profile-gallery__item" style="background-image: url('img/photos/user-03.jpg')"></div>
                            <div class="user-profile-gallery__item" style="background-image: url('img/photos/ava.jpg')"></div>
                            <div class="user-profile-gallery__item" style="background-image: url('img/photos/user-04.jpg')"></div>
                        </div>
                        <div class="user-profile-about">
                            <div class="user-profile-about__title">ABOUT HER</div>
                            We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form, connects people who have interests in similar activities, passions and future aspirations. We also add our own personal touch to the online dating process ensuring that your experience is special and exclusive to you.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%= _.template(require('./../includes/footer.html'))() %>