/* font-family: "Baigo"; */
/* font-family: "GTWalsheimPro"; */
@font-face {
    font-family: "Baigo"; /*Regular*/
    src: url("../fonts/Baigo/Baigo-Regular.eot");
    src: url("../fonts/Baigo/Baigo-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Baigo/Baigo-Regular.woff") format("woff"),
    url("../fonts/Baigo/Baigo-Regular.ttf") format("truetype"),
    url("../fonts/Baigo/Baigo-Regular.svg#Baigo-Regular") format("svg");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "GTWalsheimPro"; /*Light*/
    src: url("../fonts/GTWalsheimPro/GTWalsheimPro-Light.eot");
    src: url("../fonts/GTWalsheimPro/GTWalsheimPro-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GTWalsheimPro/GTWalsheimPro-Light.woff") format("woff"),
    url("../fonts/GTWalsheimPro/GTWalsheimPro-Light.ttf") format("truetype"),
    url("../fonts/GTWalsheimPro/GTWalsheimPro-Light.svg#GTWalsheimPro-Light") format("svg");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "GTWalsheimPro"; /*Regular*/
    src: url("../fonts/GTWalsheimPro/GTWalsheimPro-Regular.eot");
    src: url("../fonts/GTWalsheimPro/GTWalsheimPro-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GTWalsheimPro/GTWalsheimPro-Regular.woff") format("woff"),
    url("../fonts/GTWalsheimPro/GTWalsheimPro-Regular.ttf") format("truetype"),
    url("../fonts/GTWalsheimPro/GTWalsheimPro-Regular.svg#GTWalsheimPro-Regular") format("svg");
    font-style: normal;
    font-weight: 400;
}
