*::-webkit-input-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*:-moz-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*::-moz-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
.form-control {
  border: $input_border;
  background-color: $input_bg;
  border-radius: $input_border_radius;
  padding: 1.125rem 25px;
  color: $input_txt_color;
  font-family: $input_txt_family;
  font-size: 15px;
  line-height: $checkbox_txt_xs_lh;
  font-weight: 300;
  &:hover {
    background-color: $input_hover_bg;
    color: $input_hover_txt_color;
    border: $input_hover_border;
  }
  &:focus {
    box-shadow: none;
    background-color: $input_hover_bg;
    color: $input_hover_txt_color;
    border: $input_hover_border;
  }
  &::placeholder {
    color: $input_placeholder_color;
    opacity: 1;
  }
  @media (min-width: 1920px) {
    padding: 39px 56px 34px;
    font-size: 19px;
  }
  &.form-control_login {
    border: none;
    background-color: rgba(242,207,207,0.41);
    color: #DCCACA;
    text-align: center;
    &:hover, &:focus {
      color: #fff;
      background-color: rgba(242,207,207,0.6);
    }
    &::placeholder {
      color: #fff;
      opacity: 1;
    }
  }
}
input.form-control {
  height: 54px;
  @media (min-width: 1920px) {
    height: 95px;
  }
}
textarea.form-control {
  border-radius: $textarea_border_radius;
  min-height: 143px;
  @media (min-width: 1920px) {
    min-height: 304px;
  }
}
.form-group_20 {
  margin-bottom: 0.8125rem;
  @media (min-width: 768px) {
    margin-bottom: 1.625rem;
  }
}
.form-group_30 {
  margin-bottom: 25px;
  @media (min-width: 1920px) {
    margin-bottom: 35px;
  }
}
.form-group_40 {
  margin-bottom: 1.875rem;
  @media (min-width: 768px) {
    margin-bottom: 2.5rem;
  }
}
.form-group_60 {
  margin-bottom: 35px;
  @media (min-width: 1920px) {
    margin-bottom: 60px;
  }
}
.form-group_40up {
  margin-top: 3.25rem;
  @media (min-width: 768px) {
    margin-top: 2.5rem;
  }
}
.form-group_100up {
  margin-top: 55px;
  @media (min-width: 768px) {
    margin-top: 100px;
  }
}
.form-group_login {
  margin-bottom: 15px;
  @media (min-width: 992px) {
    margin-bottom: 20px;
  }
  @media (min-width: 1920px) {
    margin-bottom: 25px;
  }
}
.form-group_btn-login {
  margin-bottom: 38px;
  @media (min-width: 992px) {
    margin-bottom: 40px;
  }
  @media (min-width: 1920px) {
    margin-bottom: 68px;
  }
}
.custom-checkbox {
  &.custom-control {
    padding-left: $checkbox_xs_padding_left;
    @media (min-width: 1920px) {
      padding-left: $checkbox_padding_left;
    }
  }
  .custom-control-label {
    color: #191919;
    letter-spacing: 1px;
    font-family: $checkbox_txt_family;
    font-weight: 300;
    line-height: 20px;
    font-size: $checkbox_txt_xs_size;
    cursor: pointer;
    &::before {
      top: $checkbox_xs_top;
      left: $checkbox_xs_left;
      width: $checkbox_xs_width;
      height: $checkbox_xs_height;
      background-color: $checkbox_bg_color;
      border: $checkbox_border !important;
      outline: none !important;
      border-radius: 1rem;
    }
    &::after {
      top: $checkbox_xs_top;
      left: $checkbox_xs_left;
      width: $checkbox_xs_width;
      height: $checkbox_xs_height;
      outline: none !important;
      background: no-repeat 50% / 50% 50%;
    }
    @media (min-width: 992px) {
      letter-spacing: 0;
    }
    @media (min-width: 1200px) {
      letter-spacing: 1px;
    }
    @media (min-width: 1920px) {
      font-size: $checkbox_txt_size;
      line-height: $checkbox_txt_lh;
      &::before {
        top: $checkbox_top;
        left: $checkbox_left;
        width: $checkbox_width;
        height: $checkbox_height;
      }
      &::after {
        top: $checkbox_top;
        left: $checkbox_left;
        width: $checkbox_width;
        height: $checkbox_height;
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &::after {
          background-image: url($checkbox_bg_icon);
        }
        &::before {
          border-color: $checkbox_checked_border_color;
          background-color: $checkbox_checked_bg_color;
        }
      }
    }
    &:hover {
      ~.custom-control-label {
        &::before {
          border-color: $checkbox_checked_border_color !important;
        }
      }
    }
    &:active {
      ~.custom-control-label {
        &::before {
          background-color: $checkbox_active_bg_color;
          opacity: 0.5;
          border-color: $checkbox_checked_border_color !important;
        }
      }
    }
    &:focus {
      ~.custom-control-label {
        &::before {
          box-shadow: none;
        }
      }
    }
  }
}

.custom-radio {
  &.custom-control {
    padding-left: $radio_xs_padding_left;
    @media (min-width: 1920px) {
      padding-left: $radio_padding_left;
    }
    &.custom-control-inline {
      margin-right: 25px;
      @media (min-width: 1920px) {
        margin-right: 32px;
      }
    }
  }
  .custom-control-label {
    color: #191919;
    letter-spacing: 1px;
    font-family: $radio_txt_family;
    font-weight: 300;
    font-size: $radio_txt_xs_size;
    line-height: $radio_txt_xs_lh;
    cursor: pointer;
    &::before {
      top: $radio_xs_top;
      left: $radio_xs_left;
      width: $radio_xs_width;
      height: $radio_xs_height;
      background-color: $radio_bg_color;
      border: $radio_border !important;
      outline: none !important;
      border-radius: 100%;
    }
    &::after {
      top: $radio_xs_top;
      left: $radio_xs_left;
      width: $radio_xs_width;
      height: $radio_xs_height;
      outline: none !important;
      border-radius: 100%;
      background: no-repeat 50% / 50% 50%;
    }
    @media (min-width: 992px) {
      letter-spacing: 0;
    }
    @media (min-width: 1200px) {
      letter-spacing: 1px;
    }
    @media (min-width: 1920px) {
      font-size: $radio_txt_size;
      line-height: $radio_txt_lh;
      &::before {
        top: $radio_top;
        left: $radio_left;
        width: $radio_width;
        height: $radio_height;
      }
      &::after {
        top: $radio_top;
        left: $radio_left;
        width: $radio_width;
        height: $radio_height;
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &::after {
          background-color: $radio_active_bg_color;
          background-image: none;
        }
        &::before {
          border-color: $radio_checked_border_color;
          background-color: $radio_checked_bg_color;
        }
      }
    }
    &:hover {
      ~.custom-control-label {
        &::before {
          border: $radio_hover_border !important;
        }
      }
    }
    &:active {
      ~.custom-control-label {
        &::before {
          background-color: $radio_active_bg_color;
          opacity: 0.5;
        }
      }
    }
    &:focus {
      ~.custom-control-label {
        &::before {
          box-shadow: none;
        }
      }
    }
  }
}

.custom-switch {
  &.custom-control {
    padding: 48px 15px 30px;
    border-bottom: $switch_border;
    margin-left: -15px;
    margin-right: -15px;
    cursor: pointer;
    position: relative;
    &.custom-control_noborder {
      border-bottom: none;
    }
    @media (min-width: 768px) {
      padding: 0 190px 0 0;
      margin-left: 0;
      margin-right: 0;
      border-bottom: none;
      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 30px;
        background-color: $switch_dot_color;
        position: absolute;
        right: 110px;
        top: 4px;
      }
    }
  }
  .custom-control-label {
    &::before {
      left: 0;
      top: -52px;
      width: 55px;
      height: 27px;
      border: $switch_border;
      border-radius: 100px;
      background-color: transparent;
    }
    &::after {
      top: calc(-52px + 4px);
      left: 5px;
      width: $switch_dot_size_mob;
      height: $switch_dot_size_mob;
      border-radius: 100%;
      background-color: $switch_dot_color;
    }
    @media (min-width: 768px) {
      &::before {
        top: 0.25rem;
        left: calc(100% + 120px);
        width: 68px;
        height: 30px;
      }
      &::after {
        top: calc(0.25rem + 4px);
        left: calc(100% + 120px + 5px);
        width: $switch_dot_size;
        height: $switch_dot_size;
      }
    }
  }
  .custom-control-input {
    &:checked {
      ~.custom-control-label {
        &::before {
          border-color: $switch_dot_color_active;
          background-color: transparent;
        }
        &::after {
          background-color: $switch_dot_color_active;
          transform: translateX(26px);
          @media (min-width: 768px) {
            transform: translateX(36px);
          }
        }
      }
    }
    &:focus {
      ~.custom-control-label {
        &::before {
          box-shadow: none;
        }
      }
    }
    &:focus:not(:checked) {
      ~.custom-control-label {
        &::before {
          border-color: $switch_dot_color;
        }
      }
    }
    &:not(:disabled):active {
      ~ .custom-control-label {
        &::before {
          background-color: rgba(242, 207, 207, 0.3);
          border-color: $switch_dot_color;
        }
      }
    }
  }
}

.custom-file {
  display: block;
  width: 145px;
  height: auto;
  margin: 0 auto;
  @media (min-width: 1920px) {
    width: 256px;
  }
  .custom-file-input {
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .custom-file-area {
    width: auto;
    cursor: pointer;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.btn {
  width: 100%;
  text-transform: uppercase;
  font-family: $font_family2;
  border-radius: 0;
  padding: 1.25rem 1.3rem;
  font-size: 13px;
  color: #191919;
  letter-spacing: 2px;
  background-color: $btn_bg_color;
  &:hover {
    background-color: $btn_hover_bg_color;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
  @media (min-width: 992px) {
    font-size: 17px;
  }
  @media (min-width: 1920px) {
    width: auto;
    font-size: 21px;
    padding: 2rem 2.5rem;
  }
  &.btn_2 {
    font-size: 13px;
    padding: 1.25rem 1.3rem;
    position: relative;
    @media (min-width: 768px) {
      font-size: 19px;
      padding: 1.25rem 2.5rem;
    }
    &:hover {}
  }
  &.btn_3 {
    padding: 1.05rem 1.3rem;
    @media (min-width: 992px) {
      padding: 1.25rem 1.3rem;
    }
    @media (min-width: 1920px) {
      padding: 2rem 2.5rem;
    }
  }
  &.btn_4 {
    font-size: 10px;
    padding: 1.125rem 1.3rem;
    background-color: #EEEEEE;
    &:hover {
      background-color: $btn_bg_color;
    }
    @media (min-width: 1920px) {
      font-size: 18px;
      padding: 1.75rem 1.3rem;
    }
  }
  &.btn_index {
    width: 100%;
    padding: 1.0625rem 1.3rem;
    @media (min-width: 992px) {
      padding: 1.25rem 1.3rem;
      letter-spacing: 2px;
      font-size: 15px;
    }
    @media (min-width: 1920px) {
      font-size: 25px;
      padding: 2rem 2.5rem;
    }
  }
}
.btn_w100 {
  width: 100%;
}
