.header {
  background-color: $bg_dark_1;
  &.header_page {
    padding-bottom: 22px;
    @media (min-width: 992px) {
      padding-bottom: 74px;
    }
  }
  &.header_main {
    @media (min-width: 1200px) {
      background-position: top right;
      background-repeat: no-repeat;
      background-size: 30%;
    }
    @media (min-width: 1920px) {
      background-size: auto 171px;
    }

    .content-bg1_firstscreen {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      @media (min-width: 992px) {
        padding-top: 55px;
      }
    }

    &.bg01 {
      .content-bg1_firstscreen {
        background-image: url('../img/bg/mobile/bg01.jpg');
        background-position: 50% 100%;
        @media (min-width: 992px) {
          background-image: none;
        }
      }
      @media (min-width: 992px) {
        .header-firstscreen-photo {
          background-image: url('../img/bg/desktop/bg01.jpg');
        }
      }
      @media (min-width: 1200px) {
        background-image: url('../img/bg/desktop/bg01c.png');
      }
    }
    &.bg02 {
      .content-bg1_firstscreen {
        background-image: url('../img/bg/mobile/bg02.jpg');
        background-position: 50% 90%;
        @media (min-width: 992px) {
          background-image: none;
        }
      }
      @media (min-width: 992px) {
        .header-firstscreen-photo {
          background-image: url('../img/bg/desktop/bg02.jpg');
        }
      }
      @media (min-width: 1200px) {
        background-image: url('../img/bg/desktop/bg02c.png');
      }
    }
    &.bg03 {
      .content-bg1_firstscreen {
        background-image: url('../img/bg/mobile/bg03.jpg');
        background-position: 50% 70%;
        @media (min-width: 992px) {
          background-image: none;
        }
      }
      @media (min-width: 992px) {
        .header-firstscreen-photo {
          background-image: url('../img/bg/desktop/bg03.jpg');
        }
      }
      @media (min-width: 1200px) {
        background-image: url('../img/bg/desktop/bg03c.png');
      }
    }
    &.bg04 {
      .content-bg1_firstscreen {
        background-image: url('../img/bg/mobile/bg04.jpg');
        background-position: 50% 60%;
        @media (min-width: 992px) {
          background-image: none;
        }
      }
      @media (min-width: 992px) {
        .header-firstscreen-photo {
          background-image: url('../img/bg/desktop/bg04.jpg');
        }
      }
      @media (min-width: 1200px) {
        background-image: url('../img/bg/desktop/bg04c.png');
      }
    }
    &.bg05 {
      .content-bg1_firstscreen {
        background-image: url('../img/bg/mobile/bg05.jpg');
        background-position: 50% 90%;
        @media (min-width: 992px) {
          background-image: none;
        }
      }
      @media (min-width: 992px) {
        .header-firstscreen-photo {
          background-image: url('../img/bg/desktop/bg05.jpg');
        }
      }
      @media (min-width: 1200px) {
        background-image: url('../img/bg/desktop/bg05c.png');
      }
    }

    .header-firstscreen-wrap {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100% auto;
      &.index {
        @media (min-width: 992px) {
          background-image: url('../img/bg/desktop/bg-text-index.svg');
        }
      }
      &.login {
        @media (min-width: 992px) {
          background-image: url('../img/bg/desktop/bg-text-login.svg');
        }
      }
    }

    .header-firstscreen-img {
      position: relative;
      z-index: 10;
      @media (min-width: 992px) {
        width: 378px;
        min-width: 378px;
        max-width: 378px;
        margin-right: 55px;
        margin-bottom: -167px;
      }
      @media (min-width: 1200px) {
        width: 450px;
        min-width: 450px;
        max-width: 450px;
        margin-right: 69px;
        margin-bottom: -280px;
      }
      @media (min-width: 1500px) {
        width: 511px;
        min-width: 511px;
        max-width: 511px;
        margin-right: 69px;
        margin-bottom: -310px;
      }
      @media (min-width: 1920px) {
        width: 611px;
        min-width: 611px;
        max-width: 611px;
        margin-right: 94px;
        margin-bottom: -363px;
      }
    }

    .header-firstscreen-photo {
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      @media (min-width: 992px) {
        height: 610px;
      }
      @media (min-width: 1200px) {
        height: 728px;
      }
      @media (min-width: 1500px) {
        height: 826px;
      }
      @media (min-width: 1920px) {
        height: 978px;
      }
    }

    .header-firstscreen-inf {
      @media (min-width: 992px) {
        width: 510px;
        max-width: 510px;
        min-width: 510px;
      }
      @media (min-width: 1200px) {
        width: 590px;
        max-width: 590px;
        min-width: 590px;
      }
      @media (min-width: 1500px) {
        width: 678px;
        max-width: 678px;
        min-width: 678px;
      }
      @media (min-width: 1920px) {
        width: 800px;
        max-width: 800px;
        min-width: 800px;
      }
    }

    .header-firstscreen-content {
      &.index {
        padding-top: 195px;
        padding-bottom: 134px;
        @media (min-width: 992px) {
          padding-top: 63px;
          padding-bottom: 140px;
        }
      }
      &.login {
        padding-top: 75px;
        padding-bottom: 48px;
        @media (min-width: 992px) {
          padding-top: 10px;
          padding-bottom: 60px;
        }
      }
    }

  }

  .notice {
    font-family: $font_family2;
    color: $logo_main_color;
    display: inline-block;
    background-color: transparent;
    border: 1px solid $logo_main_color;
    border-radius: 100px;
    font-size: 8px;
    padding: 6px 8px;
    line-height: 1;
    text-align: center;
    &:hover {
      color: $btn_hover_bg_color;
      border: 1px solid $btn_hover_bg_color;
    }
    @media (min-width: 992px) {
      font-size: 20px;
      padding: 13px 15px;
    }
  }

}

.header__row {
  padding: 22px 0 0;
  @media (min-width: 992px) {
    padding: 73px 0 0;
  }
  @media (min-width: 1200px) {
    padding: 73px 142px 0;
  }
}

.header__nav-toggle {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../img/icons/icon-menu.svg');
  background-repeat: no-repeat;
  background-position: right center;
  padding-left: 10px;
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
.header {
  &.expand {
    .header__nav-toggle {
      transform: rotate(90deg) translate(-10px, 0px);;
    }
  }
}
.header__userinfo {
  display: none;
  padding-left: 24px;
  max-width: 500px;
  @media (min-width: 768px) {
    display: block;
  }
  .notice {
    margin-left: 15px;
    position: relative;
    top: -1px;
    @media (min-width: 992px) {
      margin-left: 29px;
    }
  }
  .header__userinfo-text,
  a.header__userinfo-text {
    font-family: $font_family2;
    font-size: 12px;
    color: $logo_main_color;
    text-transform: uppercase;
    text-decoration: none;
    @media (min-width: 992px) {
      font-size: 17px;
    }
    &:hover {
      color: $btn_hover_bg_color;
    }
  }
}
.header-menu {
  display: none;
  @media (min-width: 768px) {
    display: none !important;
  }
}
.header-menu__wrap {
  padding-top: 32px;
}
.header-menu__item {
  padding: 15px;
  &:hover {
    text-decoration: none;
    .notice {
      background-color: $btn_hover_bg_color;
    }
  }
}
.header-menu__item-text {
  font-family: $font_family2;
  color: $logo_main_color;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  word-break: break-all;
  margin-bottom: 10px;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.header__title {
  font-family: $font_family2;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
  line-height: 43px;
  color: $logo_main_color;
  margin-bottom: 30px;
  @media (min-width: 992px) {
    font-size: 48px;
    line-height: 73px;
    margin-bottom: 35px;
  }
  @media (min-width: 1200px) {
    font-size: 60px;
    line-height: 88px;
    margin-bottom: 41px;
  }
  @media (min-width: 1920px) {
    font-size: 79px;
    line-height: 120px;
    margin-bottom: 55px;
  }
}
.header__subtitle {
  text-align: center;
  margin: 0 auto 34px;
  max-width: 290px;
  @media (min-width: 992px) {
    margin: 0 0 52px;
    max-width: 100%;
  }
  @media (min-width: 1200px) {
    margin: 0 0 60px;
  }
  @media (min-width: 1920px) {
    margin: 0 0 83px;
  }
}