.logo {
  display: flex;
  align-items: center;
  .logo__img {
    width: 66px;
    height: 17px;
    background-image: url('../img/icons/logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    margin-right: 11px;
    @media (min-width: 992px) {
      width: 136px;
      height: 35px;
      margin-right: 36px;
    }
  }
  .logo__text {
    color: $logo_main_color;
    font-family: $font_family2;
    font-weight: 400;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    @media (min-width: 992px) {
      letter-spacing: 6px;
      font-size: 25px;
    }
  }
}

.logo_main {
  margin-top: 3px;
  margin-bottom: 25px;
  justify-content: center;
  @media (min-width: 992px) {
    margin-bottom: 85px;
  }
  @media (min-width: 1200px) {
    justify-content: start;
  }
  .logo__img {
    width: 65px;
    height: 17px;
    margin-right: 22px;
    @media (min-width: 992px) {
      width: 136px;
      height: 35px;
      margin-right: 36px;
    }
  }
  .logo__text {
    color: $logo_main_color;
    font-weight: 400;
    font-size: 12px;
    @media (min-width: 992px) {
      letter-spacing: 6px;
      font-size: 25px;
    }
  }
}

.logo_footer {
  margin-bottom: 10px;
  flex-direction: column;
  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
  }
  .logo__img {
    width: 72px;
    height: 18px;
    margin-right: 0;
    margin-bottom: 12px;
    @media (min-width: 992px) {
      width: 136px;
      height: 35px;
      margin-right: 36px;
      margin-bottom: 0;
    }
  }
  .logo__text {
    font-size: 13px;
    text-align: center;
    @media (min-width: 992px) {
      font-size: 25px;
      text-align: left;
    }
  }
}